@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');

.Login {
  &__title {
    font-family: 'Dancing Script', cursive;
    color: white;
    font-size: 35px;
  }
}

.ant-input-focused {
  outline-color: black !important;
}