.music-player-lyric {
  width: auto !important;
  background-color: #646464 !important;
  left: 20px !important;
  bottom: 100px !important;
  font-size: 20px !important;
}
.hover-decoration:hover {
  text-decoration: underline;
}