.infinite-scroll-component.rightSidebarScroll::-webkit-scrollbar {
  width: 10px;
}

.infinite-scroll-component.rightSidebarScroll::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.infinite-scroll-component.rightSidebarScroll::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #31c27c;
}