#scrollableDiv{
    border: 0 !important;
}

#scrollableDiv::-webkit-scrollbar {
    width: 10px;
}

#scrollableDiv::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

#scrollableDiv::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #31c27c;
}

hr{
    border: none;
    background-color: #f7f7f7;
    height: 1px;
}