#scrollableDiv{
    border: 0 !important;
}

#scrollableDiv::-webkit-scrollbar {
    width: 10px !important;
}

#scrollableDiv::-webkit-scrollbar-track {
    border-radius: 8px !important;
    background-color: #e7e7e7 !important;
    border: 1px solid #cacaca !important;
    display: none;
}

#scrollableDiv::-webkit-scrollbar-thumb {
    border-radius: 8px !important;
    background-color: #31c27c !important;
}

hr{
    border: none;
    background-color: #f7f7f7;
    height: 1px;
}

body::-webkit-scrollbar {
    display: none;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #e7e7e7;
    border: 1px solid #cacaca;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #31c27c;
}