.tab-label-active{
    color: #31c27c !important;
}   

.tab-label:hover{
    color: #48c287 !important;
}

[area-selected="true"] > .tab-label {
    color: #31c27c !important;
}

.ant-tabs-ink-bar {
    border-bottom: 2px solid #31c27c !important;
  }

  .ant-tabs-nav .ant-tabs-tab-active {
    color: #31c27c;
  }
  .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #31c27c !important;
    font-weight: 500;
  }
  .ant-tabs-ink-bar {
    position: absolute;
    background: #31c27c;
    pointer-events: none;
  }
  .ant-tabs-tab:hover {
    color: #31c27c !important;
  }
  .ant-tabs-tab-active {
    color: #31c27c !important;
  }