.AuthLayout {
  &__background {
    height: 100vh;
    width: 100vw;
    background-image: url("../../../assets/ascasc.png");
    //backdrop-filter: blur(50px);
    // filter: blur(5px);
    background-position: center;
    background-size: cover;
    background-position: center;
  }

  &__background-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(10px); /* Điều chỉnh mức độ làm mờ tại đây */
  }

  &__card {
    border-radius: 15px;
    //background-image: url("../../../assets/spbg.webp");
    padding: 25px;
    background-position: center;
    background-size: cover;
    
  }
}